<div class="group-wrapper">
    <div class="subsection-header">Compliance &amp; Standards</div>

    <div class="form-row">
        <div class="form-group form-group--full">
            <label>Relevante Compliance-Standards</label>
            <div class="checkbox-group">
                <label class="checkbox-item">
                    <input type="checkbox" name="compliance[]" value="dsgvo"> DSGVO / GDPR
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" name="compliance[]" value="hipaa"> HIPAA
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" name="compliance[]" value="pci-dss"> PCI DSS
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" name="compliance[]" value="iso27001"> ISO 27001
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" name="compliance[]" value="nist"> NIST CSF
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" name="compliance[]" value="kritis"> KRITIS
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" name="compliance[]" value="bsi-grundschutz"> BSI-Grundschutz
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" name="compliance[]" value="sox"> SOX
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" name="compliance[]" value="b3s"> B3S
                </label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label>Letzte Sicherheitsüberprüfung</label>
            <input type="date" id="lastaudit" name="lastaudit">
        </div>
        <div class="form-group">
            <label>Nächste geplante Prüfung</label>
            <input type="date" id="nextaudit" name="nextaudit">
        </div>
    </div>
</div>