<div class="group-wrapper">
    <div class="subsection-header">DNS-Konfiguration</div>

    <div class="form-row">
        <div class="form-group">
            <label>DNS-Server (Primär)</label>
            <input type="text" id="dnsprimary" name="dnsprimary" placeholder="z.B. 8.8.8.8">
        </div>
        <div class="form-group">
            <label>DNS-Server (Sekundär)</label>
            <input type="text" id="dnssecondary" name="dnssecondary" placeholder="z.B. 8.8.4.4">
        </div>
    </div>
</div>