<div class="group-wrapper">
    <div class="subsection-header">Monitoring &amp; Alerting</div>

    <div class="form-row">
        <div class="form-group">
            <label>Monitoring-Tool</label>
            <input type="text" id="monitoringtool" name="monitoringtool"
                placeholder="z.B. Zabbix, Nagios, Prometheus, Grafana">
        </div>
        <div class="form-group">
            <label>Alarm-E-Mail Empfänger</label>
            <input type="email" id="alertemail" name="alertemail" placeholder="z.B. admin@beispiel.de">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label>Log-Aufbewahrung (Tage)</label>
            <input type="number" id="logretention" name="logretention" placeholder="z.B. 90" min="0">
        </div>
    </div>
</div>